.cjx-dialog {
  &.cjx-dialog-drawer {
    .el-drawer__body {
      overflow: initial;
      height: calc(100% - 114px);
    }
    .cjx-form-content {
      height: 100%;
    }
    .cjx-dialog-content {
      & > * {
        height: 100%;
      }
    }

    .cjx-Form-row {
      height: auto !important;
    }
    .cjx-Form-row, .el-tab-pane {
      max-height: 100% !important;
    }
   
    .cjx-form {
      .cjx-form-menu {
        margin-left: -20px;
      }
    }
  }
  .el-form>.el-row {
    max-height: calc(90vh - 150px);
  }
  .el-form > .el-row.cjx-form-group {
    max-height: inherit;
  }
  &>.el-dialog__header {
    height: 50px;
    box-sizing: border-box;
  }
  &>.el-dialog__body {
    height: calc(100% - 50px);
    box-sizing: border-box;
    padding-bottom: 6px;
  }

  .cjx-tab-form {
    width: calc(100% - 20px);
  }
  
  .el-tab-pane {
    max-height: calc(90vh - 186px);
    overflow-y: auto;
    overflow-x: hidden;
    .cjx-form .cjx-Form-row {
      max-height: calc(-186px + 90vh);
      overflow: visible;
    }
  }

  .cjx-form {
    width: calc(100% + 18px);
    &.Search {
      width: 100%;
    }

    .cjx-Form-row {
      margin-right: -6px;
      max-height: calc(-150px + 90vh);
      overflow: auto;
      box-sizing: border-box;
      width: 100%;
      padding-right: 20px;
      margin: 0px !important;
    }

    .cjx-form-menu {
      margin-left: -16px;
      //margin-bottom: -10px;
      border-top: 1px solid var(--cjx-dialog-border-color);
      padding: 14px 15px 20px 15px;
      // margin-top: 4px;
      // box-sizing: content-box;
      background-color: var(--el-bg-color);
    }
  }
}

.cjx-dialog.is-fullscreen {
  .cjx-dialog-content {
    & > * {
      height: 100%;
    }
    & > .cjx-form {
      height: 100% !important;
    }
  }

  .el-form > .el-row {
    max-height: 100%;
  }
  .el-form > .el-row.cjx-form-group {
    max-height: inherit;
  }

  .cjx-Form-row {
    height: auto !important;
  }

  .el-tab-pane {
    max-height: 100%;
    overflow: auto;
  }
  .cjx-crud {
    height: 100%;
  }
}
