:root {
  --vp-sidebar-width: 202px;
}
/* @media (min-width: 1440px) {
  .VPSidebar {
    width: var(--vp-sidebar-width) !important;
  }
} */
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

.el-table table  {
  margin: 0 !important;
}